---
import * as url from "node:url";
import { resolve } from "node:path";
import { statSync } from "node:fs";
import type { Data } from "@data/views";

const __dirname = url.fileURLToPath(new url.URL(".", import.meta.url));

interface Props extends Data {}

const { name, fw } = Astro.props;

const { default: Logo } = await import(`../pages/${name}/Logo.astro`);

const __filename = resolve(
  __dirname,
  `..${import.meta.env.PROD ? "/src/" : ""}/pages/${name}/index.astro`
);

const statData = statSync(__filename);
---

<div
  w-275px
  h-150px
  bg="#CDE2D1"
  rounded-12px
  cursor-pointer
  relative
  overflow-hidden
>
  <div w="100%" h-95px>
    <Logo />
  </div>
  <div
    absolute
    bottom-0
    left-0
    w-full
    h-25px
    bg="#D2DADA"
    flex
    justify-between
    items-center
    px-3
    text-12px
  >
    <div font-mono h="100%" flex items-center>
      {name}
      {statData.mtime.toLocaleDateString()}
    </div>
    <div flex="~" gap-1>
      {
        fw.map((fw) => {
          return (
            <div
              class:list={[
                {
                  "i-logos:react": fw === "react",
                  "i-logos:vue": fw === "vue",
                  "i-logos:solidjs-icon": fw === "solid",
                  "i-logos:svelte-icon": fw === "svelte",
                },
              ]}
            />
          );
        })
      }
    </div>
  </div>
</div>
