---
import { Github, AstroIcon, ToggleDark } from "@components/HeaderIcons";
---

<main
  w-full
  h-100vh
  bg="#D2DADA"
  dark:bg="#0A0C18"
  flex="~"
  justify-center
  items-center
  overflow-hidden
>
  <main w="90%" h="90%" bg="#ECF2ED" rounded-20px overflow-hidden>
    <header
      w-full
      h-100px
      bg="#CDE2D1"
      dark:bg="#3247F5"
      flex="~"
      justify-between
      items-center
      px-8
      dark:text-white
    >
      <div text-36px font-lobster><a href="/">Alex's View Playground</a></div>
      <div flex justify-start items-center>
        <div mr-2 flex items-center>
          <ToggleDark client:only="solid" />
        </div>
        <div flex justify-start items-center>
          <span mr-2 font-mono> Check out source code on</span>
          <Github client:idle />
        </div>
        <div font-mono ml-4>Powered By <AstroIcon client:idle /></div>
      </div>
    </header>
    <main w-full h="[calc(100%-100px)]" overflow-hidden p8 dark:bg="#33385B">
      <slot />
    </main>
  </main>
</main>
