---
import Main from "./Main.astro";
const routeName = Astro.url.pathname.slice(1);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{routeName} - Alex's View Playground</title>
    <meta name="description" content="Alex's View Playground" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Main>
      <slot />
    </Main>
  </body>
</html>
